<hr class="line"/>



<footer>
  <ul class="pagination">
    <li class="active"><a class="pgBtn" href="/">Home</a></li>
    <li class="active"><a class="pgBtn" href="/nintendo">Nintendo</a></li>
    <li class="active"><a class="pgBtn" href="/valve">Valve</a></li>
    <li class="active"><a class="pgBtn" href="/rockstar">Rockstar</a></li>
    <li class="active"><a class="pgBtn" href="/display.ejs">E.O.M</a></li>
  </ul><br>
  CST336 Internet Programming. 2019&copy; Pearce <br />
  California State University Monterey Bay <br />
  The information presented in this website is used for academic purposes only and may not be accurate. <br />
  No processors were harmed in the making of this website.
</footer>
</body>
</html>