<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> Top Gaming Companies </title>
  <!-- Link to allow Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <!-- Link to allow CSS -->
  <link rel="stylesheet" href="/css/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap" rel="stylesheet">
</head>
<body background="img/vastSolar.jpg">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="/"> Top 3 Video Game Companies </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="/nintendo">Nintendo</a></li>
        <li><a href="/valve">Valve</a></li>
        <li><a href="/rockstar">Rockstar</a></li>
        <li><a href="/display.ejs"> Employee of the Month </a></li>
      </ul>
    </div>
  </div>
</nav>
