<% include partials/header %>
<link rel="stylesheet" href="/css/styles.css" />
<h3 align="center">
  This section of the website is dedicated to the hardworking employees. With a vast majority of people working 
  to provide you with the best information possible, they deserve just a little bit of recognition. Not a lot, 
  (don't want it to get to their heads), but just enough to give them a sense of accomplishment.
</h3><br>
<div id="container" align="center">
  <h1><%= data2 %><br></h1>
  <img src="<%= data1 %>" width="150" height="150">
  <h3><%= data3 %></h3>
</div>
<% include partials/footer %>