<% include partials/header %>
  
  <main>
    <div class="row">
      <div class="col-sm-5"><br><br>
        Video games have become very popular over the last 40 years. Starting in the 1980's is when the industry really started to take off.
        One of the games that got it all started was Pong. From that point on people started to be drawn to video games and the industry
        took off. This website is here to inform you of the top three video game companies that are stealing the show today. <strong>Remember</strong>,
        just because these are the top three does not mean that they are the only ones that are awesome!
      </div>
      <div class="col-sm-7">
        <img src="/img/keyboard.png" alt="Picture of Computer Keyboard" class="wdn-stretch rounded-corners"/>
      </div>
    </div>
  </main>

<% include partials/footer %>