<% include partials/header %>
  
  <main>
    <div class="row">
      <div class="col-sm-5">
        <div>
        <h2>Nintendo</h2>
          In 1985, one of the most known consoles the NES (Nintendo Entertainment System) was released. 
          Due to the popularity its popularity it almost single-handedly revitalized that video game industry. 
          Popular games like Duck Hunt, Super Mario Bros., and Zelda were instant hits on the console, 
          and with this entertainment available to the world their popularity took off.
        </div><br>
        <div>
          Today, Nintendo is still number one on the most popular gaming companies. They continue 
          to produce the same great content that they started with, and recently they came out with 
          the Nintendo classic console which allows people to play their original games again. 
          This was an awesome approach for the company as their target audience with this release was 
          the Nintendo legends that were around to play their first console.
        </div><br>
        <div>
          A bold move, but a great decision.
        </div><br>
      </div>
    <div class="col-sm-7" align="center">
      <a href="https://www.nintendo.com/"><img src="/img/nintendo.png" alt="Picture of Nintendo's Logo" class="wdn-stretch rounded-corners"/></a>
      <details>
        <summary>More Info on Nintendo</summary>
        <a href="https://mashable.com/2015/10/18/nes-launch-titles-30th-anniversary/">NES Launch Games</a>
        <br />
        <a href="https://www.nintendo.com/corp/history.jsp">Info on Nintendo Consoles</a>
      </details>
    </div>
    </div>
  </main>

<% include partials/footer %>