<% include partials/header %>
  
  <main>
    <div class="row">
      <div class="col-sm-5" align="center">
        <div class="container">
          <h2> Rockstar Games </h2>
            Most people are aware of the video game franchise, Grand Theft Auto, and if you like the series, 
            you can thank Rockstar Games. With the start of the series being released in 1999, the series has grown 
            over the years and their current game that they still work diligently on is Grand Theft Auto V. Initially 
            released in 2013 the game is still just as popular now as it was then. There have been other games that the 
            company has developed that get a lot of attention, including the Red Dead Redemption series.
        </div><br>
    
        <div class="container">
            Their popularity has increased over their stunning graphics and open world games, filled with immersive
            stories and adventurous gameplay. Though, some people may find some of the content that the games present
            disturbing, but there a majority of sick and twisted players out there that continue to have a blast playing.      
        </div>
      </div>
      <div class="col-sm-7"  align="center"><br><br>
          <a href="https://www.rockstargames.com/"><img src="/img/rockstar.png" alt="Picture of Rockstar's Logo"/></a><br>
        <details>
          <summary>More Info on Rockstar</summary>
          <a href="https://www.ibtimes.co.uk/grand-theft-auto-life-time-sales-hits-250-million-gta-5-gta-online-ships-70-million-units-1589687">History of Grand Theft Auto</a>
          <br />
          <a href="https://www.rockstargames.com/games">Rockstar Games</a>
        </details>
      </div>
    </div>
  </main>

<% include partials/footer %>
