<% include partials/header %>
  
  <main>
    <h2>Valve Corporation</h2>
    
    <div class="container">
      <a href="https://www.valvesoftware.com/en/about" ><img src="/img/valve.jpg" alt="Picture of Valve's Logo" class="wdn-stretch rounded-corners" /></a>
    </div><br>
    
    <div class="container">
      Founded in Bellevue, Washington, Valve quickly took the PC gaming industry by 
      storm with one of their most popular games, Half-Life. With this game release 
      they grew a lot of popularity in the community though they were not quick at 
      producing games, though that did not stop them in their creations. With a few 
      ore than ten video games released, it seems off that they would still be number
      two on the top three gaming companies.     
    </div><br>
    <div class="container">
      In 2003 they released a client for all computers that would allow Valve to monitor 
      all the updates for their games; their creation was named Steam. This creation then
      turned into a gaming hub where PC players would be able to purchase games on their store, 
      keep them in one place, and whenever that game got an update, the client would automatically
      update the game (as long as the user was okay with it).
    </div><br>
    <div class="container">
      The fact that this is one of the most popular gaming hubs on the computer,
      shows why Valve is a contender on this list, even though there are not a lot
      of games for them to show off.
    </div><br>
    <details class="valveDet">
         <summary>More Info on Valve</summary>
         <a href="https://www.giantbomb.com/valve-corporation/3010-1374/">History of Valve</a>
         <br />
         <a href="https://www.pcgamer.com/steam-versions/">History of Steam</a>
         <br />
         <a href="https://www.steampowered.com/">Steams Website</a>
    </details>
  </main>

<% include partials/footer %>